{# All menu and submenu items #}
<nav class="menu hidden-xs hidden-sm" role="navigation" aria-label="Main menu">
	{% import _self as menus %}
	{#
		We call a macro which calls itself to render the full tree.
		@see http://twig.sensiolabs.org/doc/tags/macro.html
	#}
	{{ menus.menu_links(items, attributes, 0) }}

	{% macro menu_links(items, attributes, menu_level) %}
		{% import _self as menus %}
		{% if items %}
			{% if menu_level == 0 %}
				<ul class="nav level-1 list-reset" role="menubar" aria-hidden="false">
			{% else %}
				<ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
				<div>
			{% endif %}
			{% for item in items %}
				{% set dynamic_class =   item.title|replace({ ' ' : '-' }) %}
					{% set dynamic_class =   dynamic_class|lower %}
				{% if item.title == 'logo' %}
				<li class="{{ dynamic_class }}"><a href="#">Link to Brancott Estate Homepage</a>
				{% else %}
				{% if item.below %}
					{% if menu_level == 0 %}
						<li role="menuitem" aria-haspopup="true" class = "{{ dynamic_class }}">
							<a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <span class="expand-icon"></span></a>{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
						</li>
					{% else %}
						<li role="menuitem" class = "{{ dynamic_class }}">
							<a href="{{ item.url }}">{{ item.title }}</a>{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
						</li>
					{% endif %}
				
				{% else %}
					<li role="menuitem" class = "{{ dynamic_class }}" {{ item.attributes }}>{{ link(item.title, item.url) }}</li>
				{% endif %}
				{% endif %}
			{% endfor %}
			</div>
			</ul>
		{% endif %}
	{% endmacro %}
</nav>

<!-- for mobile--->
<section id="mobile-navigation-wrapper" class="hidden-md hidden-lg">
<button id="open-navigation">NAVIGATION</button>
	<div id="mobile-navigation">
		<button id="close-navigation">&#10005;</button>
		<h2>NAVIGATION</h2>
		<div id="mobile-navigation-scroll-wrapper">
			{% import _self as menus %}
			{#
				We call a macro which calls itself to render the full tree.
				@see http://twig.sensiolabs.org/doc/tags/macro.html
			#}
			{{ menus.menu_links(items, attributes, 0) }}

			{% macro menu_links(items, attributes, menu_level) %}
				{% import _self as menus %}
				{% if items %}
					{% if menu_level == 0 %}
						<ul class="categories nav">
					{% else %}
						<ul class="sub-categories">
					{% endif %}
					{% for item in items %}
						{% if item.below %}
							{% if menu_level == 0 %}
								<li>
									<a href="{{ item.url }}" class="category">{{ item.title }} <span class="caret"></span></a>
									{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
								</li>
							{% else %}
								<li>
									<a class="sub-nav-return" href="{{ item.url }}">{{ item.title }}</a>
									{{ menus.menu_links(item.below, attributes, menu_level + 1) }}
								</li>
							{% endif %}
						{% else %}
							<li>{{ link(item.title, item.url) }}</li>
						{% endif %}
					{% endfor %}
					</ul>
				{% endif %}
			{% endmacro %}
		</div>
	</div>
</section>
