<div id="hero-component" class="container-fluid  hero-container common-hero" >
   <div class="grain-noise"></div>
 			<picture>
				<source  media="(max-width: 321px)" srcset="{{ fields.field_background_image_1.content }}" class="background-image">   
				<source  media="(max-width: 691px)" srcset="{{ fields.field_background_image_1.content }}" class="background-image">
				<source  media="(max-width: 769px)" srcset="{{ fields.field_background_image.content }}" class="background-image">  
				<source  media="(max-width: 1281px)" srcset="{{ fields.field_background_image.content }}" class="background-image"> 
				<img src="{{ fields.field_background_image.content }}" alt="hardcoded" class="background-image">  
            </picture>
 	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hero-inner-container">
	   {% if (fields.field_visit_us_small_headline.content) %}
			<h2 class="header_f">{{ fields.field_visit_us_small_headline.content }}</h2>
	   {% endif %}	
 		<h1 class="header_a">{{ fields.field_hero_headline.content }}</h1>

 		<!-- generic twig for all hero -->
		{% if (fields.field_city.content) %}
		  <h2 class="header_f">{{ fields.field_city.content }}, {{ fields.field_country.content }}</h2>
		  <h3 class="header_f">{{ current_date }}</h3>
		  <div class="temp-wrapper">
			<img src="{{ temp_icon }}" alt ="" class="spring-icon"></img>
			<span class="temperature">{{ current_temp | e}}</span>
		</div> 
		  <p>{{ season_desc }}</p>
		{% endif %}	
 	</div>
	<div class="hero-bottom">
        <img src="/{{ directory }}/css/images/triange-1.png" alt="" class="triangle">
        <img src="/{{ directory }}/css/images/triangle-white.png" alt="" class="triangle-right">
    </div> 	
 </div>
 <div class="hero-details">
 	<h2>{{ fields.field_hero_bottom_headline.content }}</h2>
	<p>{{ fields.field_visit_us_description.content }}</p>
	{% if (fields.field_hero_cta_first.content or field_hero_cta_second) %}
	  <div class="cta-hero-bottom">
	    <a href="{{ fields.field_hero_cta_first.content }}" class="cta secondary-green visit-all-wine">{{ 'BOOK A TABLE'|t }}</a>
	    <a href="{{ fields.field_hero_cta_second.content }}" class="cta secondary-green light ">{{ 'HOW TO FIND US'|t }}</a>
        </div>
    {% endif %}	
 </div>