 <div id="hero-component" class="container-fluid  hero-container" >
   <div class="grain-noise"></div>
 	<!--<img src="{{ fields.field_hero_background_image_larg.content }}" alt="{{ fields.field_hero_background_image_larg_1.content }}" class="background-image">-->
 			<picture>
				<source  media="(max-width: 321px)" srcset="{{ fields.field_hero_background_image_larg_2.content }}" class="background-image">   
				<source  media="(max-width: 691px)" srcset="{{ fields.field_hero_background_image_larg_2.content }}" class="background-image">
				<source  media="(max-width: 769px)" srcset="{{ fields.field_hero_background_image_larg.content }}" class="background-image">  
				<source  media="(max-width: 1281px)" srcset="{{ fields.field_hero_background_image_larg.content }}" class="background-image"> 
				<source  srcset="{{ fields.field_hero_background_image_larg.content }}" class="background-image"> 
				<!-- img tag for browsers that do not support picture element -->
				<img src="{{ fields.field_hero_background_image_larg.content }}" alt="{{ fields.field_hero_background_image_larg_1.content }}" class="background-image">  
            </picture>
 	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hero-inner-container">
	   <span class="header_f">sakjdhas</span>
 		<h1 style = "color : {{ fields.field_headline_colour.content }}; text-align : {{ fields.field_hero_headline_position.content }} !important">{{ fields.field_hero_headline.content }}</h1>
		<h6 class="header-cta-wrapper">
 		<a href="{{ fields.field_hero_cta_first.content }}" class="cta dark find-out-more">{{ fields.field_hero_cta_first_1.content }}
 			
 		</a></h6>
 		<div class="cta-visitus">
	    <h6 class="header-cta-wrapper">
	  	<a href="{{ fields.field_hero_cta_second.content }}" class="cta secondary-green visit-all-wine">{{ fields.field_hero_cta_second_1.content }}</a>
		</h6>
		<h6 class="header-cta-wrapper">
	  	<a href="{{ fields.field_hero_cta_thi.content }}" class="cta secondary-green light ">{{ fields.field_hero_cta_thi_1.content }}</a>
		</h6>
	</div>
		
 	</div>
 	
 	<div class="hidden-sm hidden-xs hero-bottle-wrapper">
			<picture>
				<source class="hero-bottle" media="(max-width: 1281px)" srcset="{{ fields.field_hero_right_side_image.content }}"> 
				<source class="hero-bottle" media="(max-width: 769px)"  srcset="{{ fields.field_hero_right_side_image.content }}"> 
					<!-- img tag for browsers that do not support picture element -->
				<source  class="hero-bottle" srcset="{{ fields.field_hero_right_side_image.content }}"> 
				<img class="hero-bottle" src="{{ fields.field_hero_right_side_image.content }}" alt="{{ fields.field_hero_right_side_image_1.content }}"> 
				
			</picture>
	</div>
	<div class="hero-bottom">
        <img src="{{ fields.field_hero_triangle_image.content }}" alt="" class="triangle">
        <div class="triangle-right"></div>
    </div>
 </div>
 
 
 
