 <img src="{{ fields.field_rezdy_block_image.content }}"> 
 <div>{{ fields.field_field_rezdy_block_heading.content }}</div>
 <div>{{ fields.field_rezdy_block_description.content }}</div>
 <div>{{ 'Duration'|t }}</div>
 <div>{{ fields.field_rezdy_block_duration.content }}</div> 
 <div>{{ 'Availability'|t }}</div>
 <div>{{ fields.field_rezdy_block_availability.content }}</div>
 <div>{{ 'Cost'|t }}</div>
 <div>{{ fields.field_rezdy_block_cost.content }}</div>
 <div>{{ fields.field_rezdy_block_book_now.content }}</div>
 
 <!-- rezdy component -->
<div class="rezdy-component">
	<div id="tours-and-experience">
		<div class="text-component">
			<h2 class="title header_c">
				majesty
			</h2>
			<p>
				the first dhsdjaldldas
			</p>
			<h3>duation</h3>
			<span>45mins</span>
			<h3>availab</h3>
			<span>2 pm</span>
			<a href="" class="enquire-now"></a>

			<h3>cost</h3>
			<span>$18</span>
		</div>

		h2.title
		<div class="img-component">
			<picture>
				<source media="(min-width:990px)"
				srcset="images/kitten-stretching.png">
				<source media="(min-width: 690px)"
				srcset="images/kitten-sitting.png">
				<img src="{{ fields.field_rezdy_block_image.content }}" 
				alt="a cute kitten">
			</picture>
		</div>
	</div>
</div>
 