<!--  <div id="follow-us">
	<div class="inner-wrapper">
	{{ fields.view.content }}
	</div>
	    <div class="follow-us-text">
		    <div class="text-wrapper">
		    	<a href="" class="hashtag header_f">{{ fields.field_instagram_hashtag.content }}</a>
				<h2 class="follow-text header_c">{{ fields.field_instagram_tagline.content }}</h2>
				<a href="{{ fields.field_social_feed_instagram_link.content }}" class="icon-Instagram"></a>
		    </div>			
		</div>
</div>
-->

<div id="follow-us" class="cfix container-fluid">
  <div id="gallery">
<!--     <img src="https://static.mgmresorts.com/content/dam/MGM/aria/dining/aria-cafe/food-and-drink/aria-dining-cafe-breakfast.tif.image.400.400.high.jpg" alt="" />
<img src="https://static.mgmresorts.com/content/dam/MGM/aria/dining/aria-cafe/food-and-drink/aria-dining-cafe-breakfast.tif.image.400.400.high.jpg" alt="" />
<img src="https://static.mgmresorts.com/content/dam/MGM/aria/dining/aria-cafe/food-and-drink/aria-dining-cafe-breakfast.tif.image.400.400.high.jpg" alt="" />
<img src="https://static.mgmresorts.com/content/dam/MGM/aria/dining/aria-cafe/food-and-drink/aria-dining-cafe-breakfast.tif.image.400.400.high.jpg" alt="" /> -->
{{ fields.view.content }}
  </div>
  <div id="content">
	  <div class="follow-us-text">
		    <div class="text-wrapper">
		    	<a href="" class="hashtag header_f">{{ fields.field_instagram_hashtag.content }}</a>
				<h2 class="follow-text header_c">{{ fields.field_instagram_tagline.content }}</h2>
				<a href="{{ fields.field_social_feed_instagram_link.content }}" class="icon-Instagram"></a>
		    </div>			
		</div>
</div>
</div>
 