<!-- <div class="error-page">
	<div class="error-info-wrapper">
		<h1 class="error-heading">{{ fields.field_error_title.content }}</h1>
		<h2>{{ fields.field_error_description.content }}</h2>
	</div>
	<img src="{{ fields.field_error_image.content }}" alt="Error" class="background-image">
</div>	 -->


<div class="error-page" style="background-image: url('{{ fields.field_error_image.content }}')">
	<div class="error-info-wrapper">
		<h1 class="error-heading">{{ fields.field_error_title.content }}</h1>
		<h2>{{ fields.field_error_description.content }}</h2>
	</div>
</div>	
