		{% if (fields.counter.content == "1") %}
		<div class="some-cls">
			<div class="image-wrapper">
			<a href="{{ fields.field_instagram_link.content }}" class="image-link"><img src="{{ fields.field_instagram_image.content }}" alt="" class="insta-img"></a>
			{% endif %}
				
				
					{% if (fields.counter.content == "2") %}
		<a href="{{ fields.field_instagram_link.content }}" class="image-link"><img src="{{ fields.field_instagram_image.content }}" alt="" class="insta-img"></a>
			</div>
		</div>
		{% endif %}
		
		
		{% if (fields.counter.content == "3") %}
		<div class="some-cls">
			<div class="image-wrapper">
			<a href="{{ fields.field_instagram_link.content }}" class="image-link"><img src="{{ fields.field_instagram_image.content }}" alt="" class="insta-img"></a>
			{% endif %}
				
				
					{% if (fields.counter.content == "4") %}
		<a href="{{ fields.field_instagram_link.content }}" class="image-link"><img src="{{ fields.field_instagram_image.content }}" alt="" class="insta-img"></a>
			</div>
		</div>
		{% endif %}
	