<section id="visit-us" class="container-fluid">
    {%- if fields.field_visit_us_small_headline.content or fields.field_visit_us_mainheadline.content or fields.field_visit_us_description.content -%}
	<div class="top-section" >
		<h2 class="header_f">{{ fields.field_visit_us_small_headline.content }}</h2>
		<h3  class="header_a">{{ fields.field_visit_us_mainheadline.content }}</h3>
		<p class="description-visit-us">{{ fields.field_visit_us_description.content }}</p>
	</div>
    {%- endif -%}
	{%- if fields.view.content -%}
	<div class="tile-container">
		<!--<a href="{{ fields.field_visit_us_cta.content }}" class="cta dark visit-us-cta hidden-lg hidden-md" title="visit us">{{ fields.field_visit_us_cta_1.content }}</a>-->
		{{ fields.view.content }}
		
	</div>
	{%- endif -%}

</section>

        




