<div class="image-link">
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_instagram_image_first_1.content }}" class="background-image">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_instagram_image_first_1.content }}" class="background-image">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_instagram_image_first_2.content }}" class="background-image">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_instagram_image_first_2.content }}" class="background-image"> 
        <img src="{{ fields.field_instagram_image_first_2.content }}" alt="{{ fields.field_instagram_image.content }}" class="insta-img">
    </picture>
	<picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_instagram_image_second_1.content }}" class="background-image">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_instagram_image_second_1.content }}" class="background-image">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_instagram_image_second_2.content }}" class="background-image">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_instagram_image_second_2.content }}" class="background-image"> 
        <img src="{{ fields.field_instagram_image_second_2.content }}" alt="{{ fields.field_instagram_image.content }}" class="insta-img">
    </picture>
	<picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_instagram_image_third_1.content }}" class="background-image">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_instagram_image_third_1.content }}" class="background-image">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_instagram_image_third_2.content }}" class="background-image">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_instagram_image_third_2.content }}" class="background-image"> 
        <img src="{{ fields.field_instagram_image_third_2.content }}" alt="{{ fields.field_instagram_image.content }}" class="insta-img">
    </picture>
	<picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_instagram__imagefourth_1.content }}" class="background-image">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_instagram_image_fourth_1.content }}" class="background-image">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_instagram_image_fourth_2.content }}" class="background-image">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_instagram_image_fourth_2.content }}" class="background-image"> 
        <img src="{{ fields.field_instagram_image_fourth_2.content }}" alt="{{ fields.field_instagram_image.content }}" class="insta-img">
    </picture>
</div>