<div class="tasting-notes-content-wrapper">
{% if (tasting_notes_aroma or tasting_notes_taste or tasting_notes_complement) %}
    <h2 class="header_b"> {{ fields.field_tasting_notes_title.content }} </h2>
{% endif %}

{% if (tasting_notes_aroma or tasting_notes_taste) %}
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_aroma_and_palate_image.content }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_aroma_and_palate_image_2.content }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_aroma_and_palate_image_2.content }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_aroma_and_palate_image_2.content }}" class=""> 
        <img src="{{ fields.field_aroma_and_palate_image.content }}" 
             alt="{{ fields.field_aroma_and_palate_image_1.content }}">
    </picture> 
    <h3 class="header_f"> {{ fields.field_aroma_and_palate_subtitle.content }} </h3>
{% endif %}

{% if (tasting_notes_aroma) %}
    <p class="desc-1"> {{ tasting_notes_aroma }} </p>
{% endif %}

{% if (tasting_notes_taste) %}
    <p class="desc-1"> {{ tasting_notes_taste }} </p>
{% endif %}

{% if (tasting_notes_complement) %}
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_enjoy_with_image_2.content }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_enjoy_with_image_2.content }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_enjoy_with_image_2.content }}" class=""> 
        <img src="{{ fields.field_enjoy_with_image.content }}" 
             alt="{{ fields.field_enjoy_with_image_1.content }}">
    </picture>
    <h3 class="header_f"> {{ fields.field_enjoy_with_subtitle.content }} </h3>
{% endif %}

{% if (tasting_notes_complement) %}
    <p class="desc-2"> {{ tasting_notes_complement }} </p>
{% endif %}
</div>
<a href="#" class="cta secondary-green watch-video" data-toggle="modal" data-target="#nutritional-info-component">{{ nutritional_cta_new }} </a>
{% if (fields.field_cta_options_tasting_notes.content == 'external') %}
        
        <a href="{{ fields.field_tasting_notes_cta.content }}" target="_blank" class="cta dark watch-video">{{ fields.field_tasting_notes_cta_1.content }}</a>
        {% endif %}
        {% if (fields.field_cta_options_tasting_notes.content == 'internal') %}
            
        <a href="{{ fields.field_tasting_notes_cta.content }}"  class="cta dark watch-video">{{ fields.field_tasting_notes_cta_1.content }}</a>
        {% endif %}
        {% if (fields.field_cta_options_tasting_notes.content == 'buy_now') %}
            
        <a data-ctbuy-key="{{ fields.field_click.content }}" data-ctbuy-lang="en" href="#" target="_blank" title="Buy Now" class="cta dark watch-video">{{ fields.field_click_1.content }}</a>

   {% endif %}


<!-- Modal -->
<div id="nutritional-info-component" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content background-noise-section">
            <div class="wrapper-head modal-header">
                <a class="close-btn" data-dismiss="modal"></a>
                <h2 class="header_e">{{ nutritional_title }}</h2>
            </div>
            <div class="modal-body">
                <h3 class="header_f">{{ wine_title |upper }}  {{ nutritional_info_alcohol |upper }}% ABV </h3>
                <table>
                    <thead>
                    <th></th>
                    <th>Per 10g of alcohol ({{ nutritional_alcohol }}ml)</th>
                    <th>Per 150ml serving</th> 
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alcohol (g)</td>
                            <td>10</td>
                            <td>{{ nutritional_alcohol_cal }}</td>
                        </tr>
                        <tr>
                            <td>Calories (Kcal)</td>
                            <td>{{ nutritional_calories }}</td>
                            <td>{{ nutritional_info_calories }}</td>
                        </tr>
                        <tr>
                            <td>Fat (g)</td>
                            <td>{{ nutritional_fat }}</td>
                            <td>{{ nutritional_info_fat }}</td>
                        </tr>
                        <tr>
                            <td>Saturates (g)</td>
                            <td>{{ nutritional_saturates }}</td>
                            <td>{{ nutritional_info_saturates }}</td>
                        </tr>
                        <tr>
                            <td>Carbohydrates (g)</td>
                            <td>{{ nutritional_carbohydrates }}</td>
                            <td>{{ nutritional_info_carbohydrates }}</td>
                        </tr>
                        <tr>
                            <td>Sugar (g)</td>
                            <td>{{ nutritional_sugars }}</td>
                            <td>{{ nutritional_info_sugars }}</td>
                        </tr>
                        <tr>
                            <td>Proteins (mg)</td>
                            <td>{{ nutritional_proteins }}</td>
                            <td>{{ nutritional_info_proteins }}</td>
                        </tr>
                    </tbody>
                </table>
                <p>{{ nutritional_note_first }}</p>
                <p>{{ nutritional_note_second }}</p>
                <a href="{{ nutritional_cta_first_uri }}">{{ nutritional_cta_first_title }}</a>
                <a href="{{ nutritional_cta_second_uri }}">{{ nutritional_cta_second_title }}</a>
            </div>

        </div>

    </div>
</div>
