<div class="section-class img-left">
    <div class="image-wrapper">
        <picture>
            <source  media="(max-width: 321px)" srcset="{{ fields.field_block_image.content }}" class="background-image">   
            <source  media="(max-width: 691px)" srcset="{{ fields.field_block_image_2.content }}" class="background-image">
            <source  media="(max-width: 769px)" srcset="{{ fields.field_block_image_3.content }}" class="background-image">  
            <source  media="(max-width: 1281px)" srcset="{{ fields.field_block_image.content }}" class="background-image"> 
            <img src="{{ fields.field_block_image.content }}" alt="{{ fields.field_block_image_1.content }}">
        </picture>
    </div>
    <div class="content-wrapper">
        <h3 class="header_b header_sect">{{ fields.field_block_heading.content |capitalize |raw }}</h3>
        <p class="tagline">{{ fields.field_block_subheading.content }}</p>
        {% if (fields.field_cta_options.content == 'external') %}
        <a href="{{ fields.field_cta.content }}" target="_blank" class="cta dark watch-video">{{ fields.field_cta_1.content }}</a>
        {% endif %}
        {% if (fields.field_cta_options.content == 'internal') %}
       <a href="{{ fields.field_cta.content }}"  class="cta dark watch-video">{{ fields.field_cta_1.content }}</a>
        {% endif %}
        {% if (fields.field_cta_options.content == 'buy_now') %}
        <a data-ctbuy-key="{{ fields.field_click_to_buy.content }}" data-ctbuy-lang="en" href="#" target="_blank" title="Buy Now" class="cta dark watch-video">{{ fields.field_click_to_buy_1.content }}</a>

        {% endif %}
    </div>
</div>
    
    
   