<section id="product-grid" class="you-may-like">
	<div class="top-section">
		<p class="header_f">{{ fields.field_our_wine_heading.content }}</p>
		<h2 class="header_a">{{ fields.field_our_wine_title.content }}</h2>
		<p class="description-visit-us">{{ fields.field_our_wine_description.content }}</p>
	</div>
	<div id="product-grid-carousal" class="carousel slide" data-ride="carousel" data-interval="false">
		<div class="category-grid carousel-inner" role="listbox">
			{% for detail in range_details %}
			<div class="product-tile item" href="#">
				<div class="product-shot">
					<img src="{{ detail.range_image }}" alt="{{ fields.field_wine_bottle_image_1.content }}" />
					<div class="product-bg" style="background-color: {{ detail.bkg_colr }};"></div>
				</div>
				<h3>{{ detail.title | upper }}</h3>
				<p>{{ detail.desc }}</p>
				<a href="#" class="cta secondary-green">VIEW RANGE</a>
			</div>
			{% endfor %}  
			<a class="product-tile see-all-link hidden-xs hidden-sm" href="{{ fields.field_see_all_wines.content }}">{{ fields.field_see_all_wines_1.content }}</a>   
		</div>
		<!-- Controls -->
		<!-- <a class="left carousel-control" href="#product-grid-carousal" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#product-grid-carousal" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a> -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-our-story" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-our-story" data-slide-to="1"></li>
		</ol>
	</div>
	<a class="cta dark see-all-link hidden-md hidden-lg" href="{{ fields.field_see_all_wines.content }}">{{ fields.field_see_all_wines_1.content }}</a> 
</section>