<div class="section-class img-left">
    <h2>{{ fields.field__tours_and_experience_main.content }}</h2>
	<div class="image-wrapper">
			<picture>
				<source  media="(max-width: 321px)" srcset="{{ fields.field_image_1.content }}" class="background-image">   
				<source  media="(max-width: 691px)" srcset="{{ fields.field_image_1.content }}" class="background-image">
				<source  media="(max-width: 769px)" srcset="{{ fields.field_image_1.content }}" class="background-image">  
				<source  media="(max-width: 1281px)" srcset="{{ fields.field_image.content }}" class="background-image"> 
				<img src="{{ fields.field_image.content }}" alt="{{ fields.field_image_2.content }}">
			</picture>
		</div>
	<div class="content-wrapper">
	  <h3 class="header_b header_sect">{{ fields.field_title.content }}</h3>
	  <p class="tagline">{{ fields.field_description.content }}</p>
	  <a href="{{ fields.field_rezdy_block_book_now.content }}" class="cta dark watch-video">{{ fields.field_rezdy_block_book_now_1.content }}</a>
	</div>
</div>
