 <img src="{{ fields.field_rezdy_block_image.content }}"> 
 <div>{{ fields.field_field_rezdy_block_heading.content }}</div>
 <div>{{ fields.field_rezdy_block_description.content }}</div>
 <div>{{ 'Duration'|t }}</div>
 <div>{{ fields.field_rezdy_block_duration.content }}</div> 
 <div>{{ 'Availability'|t }}</div>
 <div>{{ fields.field_rezdy_block_availability.content }}</div>
 <div>{{ 'Cost'|t }}</div>
 <div>{{ fields.field_rezdy_block_cost.content }}</div>
 <div>{{ fields.field_rezdy_block_book_now.content }}</div>
 