
        {% if fields.field_video.content %}
		   
		        <video  class="our-story-video {{ fields.field_video_option.content }}" >
				    <source src="{{ fields.field_video.content }}" type="video/mp4">
				    <!--<source src="{{ fields.field_video.content }}" type="video/ogg">-->
				
		        </video>
			
		{% else %}
			<img src="{{ fields.field_background_image.content }}" data-mobile-src = "{{ fields.field_background_image_1.content }}" data-desktop-src = "{{ fields.field_background_image.content }}" alt="...">
			<div class="inner-container">
				<span>{{ fields.field_our_story_subheading.content }}</span>
				<h1>{{ fields.field_our_story_headline.content }}</h1>
				<a href="{{ fields.field_youtube_video.content }}" class="cta secondary-light watch-video">{{ fields.field_hero_cta_first.content }}</a>
			</div>
			
		{% endif %}







			

	
	
