<picture>
    <source  media="(max-width: 321px)" srcset="{{ fields.field_carousel_tile_image_1.content }}">   
    <source  media="(max-width: 690px)" srcset="{{ fields.field_carousel_tile_image_1.content }}" >   
    <source  media="(max-width: 769px)" srcset="{{ fields.field_carousel_tile_image.content }}">
    <source  media="(max-width: 990px)" srcset="{{ fields.field_carousel_tile_image.content}}"> 
    <source  media="(max-width: 1281px)" srcset="{{ fields.field_carousel_tile_image.content }}"> 
    <img src="{{ fields.field_carousel_tile_image.content }}" alt="{{ fields.field_carousel_tile_image_2.content }}" />  
</picture> 
<div class="inner-container">
    <p class = "header_f">{{ fields.field_title.content }}</p>
    <p>{{ fields.field_carousel_description.content }}</p>
</div>










