{% if (tasting_notes_aroma or tasting_notes_taste or tasting_notes_complement) %}
    <h2 class="header_b"> {{ fields.field_tasting_notes_title.content }} </h2>
{% endif %}

{% if (tasting_notes_aroma or tasting_notes_taste) %}
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_aroma_and_palate_image.content }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_aroma_and_palate_image.content }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_aroma_and_palate_image.content }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_aroma_and_palate_image.content }}" class=""> 
        <img src="{{ fields.field_aroma_and_palate_image.content }}" 
             alt="{{ fields.field_aroma_and_palate_image_1.content }}">
    </picture> 
    <h3 class="header_f"> {{ fields.field_aroma_and_palate_subtitle.content }} </h3>
{% endif %}

{% if (tasting_notes_aroma) %}
    <p class="desc-1"> {{ tasting_notes_aroma }} </p>
{% endif %}

{% if (tasting_notes_taste) %}
    <p class="desc-1"> {{ tasting_notes_taste }} </p>
{% endif %}

{% if (tasting_notes_complement) %}
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_enjoy_with_image.content }}" class=""> 
        <img src="{{ fields.field_enjoy_with_image.content }}" 
             alt="{{ fields.field_enjoy_with_image_1.content }}">
    </picture>
    <h3 class="header_f"> {{ fields.field_enjoy_with_subtitle.content }} </h3>
{% endif %}

{% if (tasting_notes_complement) %}
    <p class="desc-2"> {{ tasting_notes_complement }} </p>
{% endif %}

<a href="{{ fields.field_nutritional_info_cta.content }}" class="cta dark watch-video" data-toggle="modal" data-target="#nutritional-info-component">{{ fields.field_nutritional_info_cta_1.content }} </a>
<a data-ctbuy-key="{{ fields.field_click.content }}" data-ctbuy-lang="en" href="#" target="_blank" title="Buy Now" class="cta dark watch-video">{{ fields.field_click_1.content }}</a>

<!-- Modal -->
<div id="nutritional-info-component" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content background-noise-section">
            <div class="wrapper-head modal-header">
                <a class="close-btn" data-dismiss="modal"></a>
                <h2 class="header_e">NUTRITIONAL INFO</h2>
            </div>
            <div class="modal-body">
                <h3 class="header_f">{{ wine_title }}  {{ nutritional_info_alcohol }} V/V </h3>
                <table>
                    <thead>
                    <th>PER 10GR OF ALCOHOL (89ML)</th>
                    <th>PER 10GR OF ALCOHOL (89ML)</th>
                    <th>Per 150ml serving</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alcohol (g)</td>
                            <td>{{ nutritional_alcohol_cal }}g</td>
                            <td>{{ nutritional_info_alcohol }}g</td>
                        </tr>
                        <tr>
                            <td>Calories (Kcal)</td>
                            <td>{{ nutritional_calories }}g</td>
                            <td>{{ nutritional_info_calories }}g</td>
                        </tr>
                        <tr>
                            <td>Fat (g)</td>
                            <td>{{ nutritional_fat }}g</td>
                            <td>{{ nutritional_info_fat }}g</td>
                        </tr>
                        <tr>
                            <td>Saturates (g)</td>
                            <td>{{ nutritional_saturates }}g</td>
                            <td>{{ nutritional_info_saturates }}g</td>
                        </tr>
                        <tr>
                            <td>Carbohydrates (g)</td>
                            <td>{{ nutritional_carbohydrates }}g</td>
                            <td>{{ nutritional_info_carbohydrates }}g</td>
                        </tr>
                        <tr>
                            <td>Suger (g)</td>
                            <td>{{ nutritional_sugars }}g</td>
                            <td>{{ nutritional_info_sugars }}g</td>
                        </tr>
                        <tr>
                            <td>Proteins (mg)</td>
                            <td>{{ nutritional_proteins }}g</td>
                            <td>{{ nutritional_info_proteins }}g</td>
                        </tr>
                    </tbody>
                </table>
                <p>{{ fields.field_nutritional_info_note1.content }}</p>
                <p>{{ fields.field_nutritional_info_note12.content }}</p>
                <a href="{{ fields.field_nutritional_info_cta1.content }}">{{ fields.field_nutritional_info_cta1_1.content }}</a>
                <a href="{{ fields.field_nutritional_info_cta2.content }}">{{ fields.field_nutritional_info_cta2_1.content }}</a>
            </div>

        </div>

    </div>
</div>
