
        {% if fields.field_video.content %}
		   
		        <video  class="our-story-video {{ fields.field_video_option.content }}" >
				    <source src="{{ fields.field_video.content }}" type="video/mp4">
				    <source src="{{ fields.field_video.content }}" type="video/ogg">
				
		        </video>
			
		{% else %}
			<!--<img src="{{ fields.field_background_image.content }}" data-mobile-src = "{{ fields.field_background_image_1.content }}" data-desktop-src = "{{ fields.field_background_image.content }}" alt="{{ fields.field_background_image_1.content }}">-->
			<picture>
            <source  media="(max-width: 321px)" srcset="{{ fields.field_background_image_2.content }}">
            <source  media="(max-width: 990px)" srcset="{{ fields.field_background_image.content }}">  
            <source  media="(max-width: 1281px)" srcset="{{ fields.field_background_image.content }}"> 
            <source  srcset="{{ fields.field_background_image.content }}"> 
            <!-- img tag for browsers that do not support picture element -->
            <img src="{{ fields.field_background_image.content }}" alt="{{ fields.field_background_image_1.content }}">  
            </picture> 
			<div class="inner-container">
				<!--<span>{{ fields.field_our_story_subheading.content }}</span>-->
				<h2 class= "header_a">{{ fields.field_our_story_headline.content }}</h2>
				<h6 class="header-cta-wrapper"><a href="{{ fields.field_hero_cta_first_1.content }}" class="cta secondary-light watch-video">{{ fields.field_hero_cta_first.content }}</a></h6>
			</div>
			
		{% endif %}







			

	
	
