{% set image_list = fields.field_image_vertical.content|split(',') %}
    
    {% set image_list_v1 = fields.field_image_vertical_1.content|split(',') %}
    {% set image_list_v2 = fields.field_image_vertical_2.content|split(',') %}
    {% set image_list_v3 = fields.field_image_vertical_3.content|split(',') %}
    {% set image_list_v4 = fields.field_image_vertical_4.content|split(',') %}
    {% set video_list = fields.field_video_youtube_.content|split(',') %}
    
    {#{% set image_list_horizontal = fields.field_image_vertical_3.content|split(',') %}#}
    {% if (fields.field_media_style.content == "vertical_style") %}
    <div class="vertical-timeline">
              <span class="header_d line-bg">{{ fields.field_timeline_date.content }}</span>
    {% if fields.field_timeline_heading.content %}
    <h2 class="header_b">{{ fields.field_timeline_heading.content }}</h2>
    {% endif %}
   
    <div class="common-margin">
    <div class="quote-author">
     {% if fields.field_timeline_description.content %}
      <p class="">{{ fields.field_timeline_description.content }}</p>
    {% endif %}
       
        <p class="quote">
        {% if fields.field_timeline_subtext_one.content %}
            {{ fields.field_timeline_subtext_one.content }}</p>
        {% endif %}
        {% if fields.field_timeline_subtext_second.content %}
        <span class="author">{{ fields.field_timeline_subtext_second.content }}</span>
        {% endif %}
    </div>
 {% if fields.field_image_vertical.content %}
        <div class="img-wrapper-vertical common-margin">
            {% for key, image in image_list %}
                 {#<img  src="{{ image }}" alt="{{ fields.field_image_vertical_5.content }}"> #}
                <picture>
                    <source   media="(max-width: 321px)"  srcset="{{ image_list_v1[key] }}"> 

                    <source  media="(max-width: 691px)"  srcset="{{ image_list_v1[key] }}">
                    <source  media="(max-width: 769px)"  srcset="{{ image_list_v1[key] }}">

                    <source  media="(max-width: 1025px)" srcset="{{ image_list[key] }}">

                    <source  media="(max-width: 1401px)" srcset="{{ image }}"> 

                    <img  src="{{ image }}" alt="{{ fields.field_image_vertical_5.content }}"> 
                </picture>
            {% endfor %}

            {% if fields.field_video_youtube_.content %}
                {% for video in video_list %}
                <iframe class="youtube common-margin" src="https://www.youtube.com/embed/{{ video |trim}}?rel=0"></iframe>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
    </div>
    </div>
  
    {% elseif (fields.field_media_style.content == "horizontal_style") %}
    <div class="horizontal-timeline">
    <div class="top">
        <span class="header_d line-bg">{{ fields.field_timeline_date.content }}</span>
        {% if fields.field_timeline_heading.content %}
        <h2 class="header_b">{{ fields.field_timeline_heading.content }}</h2>
        {% endif %}
        
       <div class="">
      
        <div class="common-margin">
         {% if fields.field_timeline_description.content %}
        <p class="common-margin ">{{ fields.field_timeline_description.content }}</p>
        {% endif %}
           <div class="quote-author">
                <p class="quote ">
                {% if fields.field_timeline_subtext_one.content %}
                {{ fields.field_timeline_subtext_one.content }}</p>
                {% endif %}
                {% if fields.field_timeline_subtext_second.content %}
                <span class="author">{{ fields.field_timeline_subtext_second.content }}</span>
                {% endif %}
           </div>
          </div> 
       </div>   


    </div>


        {% if fields.field_image_vertical.content %}
        <div class="img-wrapper-horizontal common-margin">
            
            {% for key, image_horizontal in image_list_v3 %}
                {% if ( key < 3) %}
{#              <img  src="{{ image_horizontal }} " alt="{{ fields.field_image_vertical_5.content }}"> #}
                <picture>
                    <source   media="(max-width: 321px)"  srcset="{{ image_horizontal }}"> 

                    <source  media="(max-width: 691px)"  srcset=" {{ image_horizontal }}"> 
                     <source  media="(max-width: 769px)"  srcset="{{ image_horizontal }}"> 

                    <source  media="(max-width: 1025px)" srcset="{{ image_horizontal }}">

                    <source  media="(max-width: 1401px)" srcset="{{ image_horizontal }}"> 

                    <img  src="{{ image_horizontal }}" alt="{{ fields.field_image_vertical_5.content }}"> 
                </picture>
                {% endif %}
            {% endfor %}
        </div>
         {% endif %}
    </div>
    
    {% endif %}



