<div class="full-width-image">
    <picture>
                    <source   media="(max-width: 321px)"  srcset="{{ fields.field_panorama_image_2.content }}"> 

                    <source  media="(max-width: 691px)"  srcset="{{ fields.field_panorama_image_2.content }}"> 
                  
                    <source  media="(max-width: 991px)" srcset="{{ fields.field_panorama_image.content }}">
               
                    <source  media="(max-width: 1401px)" srcset="{{ fields.field_panorama_image.content }}"> 

                    <img src="{{ fields.field_panorama_image.content }}" alt="{{ fields.field_panorama_image_1.content }}" />
                </picture>
  
</div>