<div> {{ fields.field_tasting_notes_title.content }} </div>

<img class="hero-bottle" src="{{ fields.field_aroma_and_palate_image.content }}" alt="Aroma"> 

<div> {{ fields.field_aroma_and_palate_subtitle.content }} </div>

<div> {{ tasting_notes_aroma }} </div>

<div> {{ tasting_notes_taste }} </div>

<img class="hero-bottle" src="{{ fields.field_enjoy_with_image.content }}" alt="Aroma"> 

<div> {{ fields.field_enjoy_with_subtitle.content }} </div>

<div> {{ fields.field_tasting_notes_title.content }} </div>

<div> {{ tasting_notes_complement }} </div>
