
<div class="section-class img-left">
	<div class="image-wrapper">
			<picture>
				<source  media="(max-width: 321px)" srcset="{{ fields.field_image_1.content }}" class="background-image">   
				<source  media="(max-width: 691px)" srcset="{{ fields.field_image_1.content }}" class="background-image">
				<source  media="(max-width: 769px)" srcset="{{ fields.field_image.content }}" class="background-image">  
				<source  media="(max-width: 1281px)" srcset="{{ fields.field_image.content }}" class="background-image"> 
				<img src="{{ fields.field_image.content }}" alt="vineyard">
			</picture>
		</div>
	 <div class="content-wrapper">
	   <h2 class="header_sect">{{ fields.field_title.content }}</h2>
	   <p class="tagline">{{ fields.field_description.content }}</p>
	   <a href="{{ fields.field_rezdy_block_book_now.content }}" class="cta dark watch-video">{{ fields.field_rezdy_block_book_now_1.content }}</a>
	 </div>
</div>