<!-- <section id="product-grid" class="you-may-like">   
	<div class="category-grid">
{% for detail in range_details %}
<div class="product-tile">
	<div class="product-shot">
		<img src="{{ detail.range_image }}" alt="{{ fields.field_wine_bottle_image_1.content }}" />
		<div class="product-bg" style="background-color: {{ detail.bkg_colr }} ;"></div>
	</div>
		<h3>{{ detail.title }}</h3>
		{% if detail.desc %}
		<p>{{ detail.desc }}</p>
		{% endif %}
</div>
{% endfor %}  
</div>
</section>
 -->
<section id="product-grid" class="you-may-like"> 
				<div class="top-section">
								<h2 class="header_f">{{ fields.field_our_wine_heading.content }}</h2>
								<h3 class="header_a">{{ fields.field_our_wine_title.content }}</h3>
								<p class="description-visit-us">{{ fields.field_our_wine_description.content }}</p>
				</div>
				<div class="carousel slide" data-ride="carousel">
								<div class="category-grid carousel-inner" role="listbox">
												{% for detail in range_details %}
												<div class="product-tile item">
																<div class="product-shot">
																				<img src="{{ detail.range_image }}" alt="{{ fields.field_wine_bottle_image_1.content }}" />
																				<div class="product-bg" style="background-color: {{ detail.bkg_colr }} ;"></div>
																</div>
																				<h3>{{ detail.title |upper }}</h3>
																				<p>{{ detail.desc }}</p>
												</div>
												{% endfor %}  
												<a href="{{ fields.field_see_all_wines.content }}" class="">{{ fields.field_see_all_wines_1.content }}</a>   
								</div>
								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
												<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
												<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
												<span class="sr-only">Next</span>
								</a>
				</div>
</section>

