<a href ="#" class="product-tile">
    <div class="product-shot">
        <img src="{{ fields.field_wine_bottle_image.content }}" alt="{{ fields.field_wine_bottle_image_1.content }}" />
        <div class="product-bg" style="background-color: {{ range_bkg_color }};"></div>
    </div>
        <h3>{{ wine_range|upper}}</h3>
        <p>{{ wine_title }}</p>
</a>
                   
                
        
    


