<a href="{{ fields.field_stockist_items_ref_link.content }}">  
<picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_stockist_items_image.content }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_stockist_items_image.content }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_stockist_items_image.content }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_stockist_items_image.content }}" class=""> 
        <img src="{{ fields.field_stockist_items_image.content }}" 
             alt="{{ fields.field_stockist_items_image_1.content }}">
    </picture> 
</a>
{{ fields.field_stockist_items_caption.content }}


