{% if (tasting_notes_aroma or tasting_notes_taste or tasting_notes_complement) %}
    <h2> {{ fields.field_tasting_notes_title.content }} </h2>
{% endif %}

{% if (tasting_notes_aroma or tasting_notes_taste) %}
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_aroma_and_palate_image.conten }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_aroma_and_palate_image.conten }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_aroma_and_palate_image.conten }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_aroma_and_palate_image.conten }}" class=""> 
        <img src="{{ fields.field_aroma_and_palate_image.content }}" 
             alt="Aroma">
    </picture>
    <img class="hero-bottle" src="{{ fields.field_aroma_and_palate_image.content }}" alt="Aroma"> 
    <h3> {{ fields.field_aroma_and_palate_subtitle.content }} </h3>
{% endif %}

{% if (tasting_notes_aroma) %}
    <p class="desc-1"> {{ tasting_notes_aroma }} </p>
{% endif %}

{% if (tasting_notes_taste) %}
    <p class="desc-1"> {{ tasting_notes_taste }} </p>
{% endif %}

{% if (tasting_notes_complement) %}
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_enjoy_with_image.content }}" class=""> 
        <img src="{{ fields.field_enjoy_with_image.content }}" 
             alt="Enjoy">
    </picture>
    <h3> {{ fields.field_enjoy_with_subtitle.content }} </h3>
{% endif %}

{% if (tasting_notes_complement) %}
    <p class="desc-2"> {{ tasting_notes_complement }} </p>
{% endif %}

<a href="{{ fields.field_nutritional_info_cta1.content }}" class="cta dark watch-video" data-toggle="modal" data-target="#nutritional-info-component"> NUTRITIONAL INFO </a>
<a data-ctbuy-key="{{ fields.field_click.content }}" data-ctbuy-lang="en" href="#" target="_blank" title="Buy Now" class="cta dark watch-video">{{ fields.field_click_1.content }}</a>

<!-- Modal -->
<div id="nutritional-info-component" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="wrapper-head modal-header">
        <a class="close-btn" data-dismiss="modal"></a>
        <h2>NUTRITIONAL INFO</h2>
      </div>
      <div class="modal-body">
        <h3>Marlborough Sauvignon Blanc 13.1% V/V</h3>
            <table>
                <thead>
                    <th>PER 10GR OF ALCOHOL (89ML)</th>
                    <th>PER 10GR OF ALCOHOL (89ML)</th>
                    <th>Per 150ml serving</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                    <tr>
                        <td>Alcohol (g)</td>
                        <td>74g</td>
                        <td>124g</td>
                    </tr>
                </tbody>
            </table>
            <p>* These calculations are based on the wine produced under this label in the current vintage. Variances of +/-10% might occur between vintages and market variants.</p>
            <p>For more information on responsible drinking and nutritional values visit:
<a href="#">www.wise-drinking.com</a>
<a href="#">www.wineinmoderation.com</a></p>
      </div>
      
    </div>

  </div>
</div>
