{% if (tasting_notes_aroma or tasting_notes_taste or tasting_notes_complement) %}
    <h2> {{ fields.field_tasting_notes_title.content }} </h2>
{% endif %}

{% if (tasting_notes_aroma or tasting_notes_taste) %}
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_aroma_and_palate_image.conten }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_aroma_and_palate_image.conten }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_aroma_and_palate_image.conten }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_aroma_and_palate_image.conten }}" class=""> 
        <img src="{{ fields.field_aroma_and_palate_image.content }}" 
             alt="Aroma">
    </picture>
    <img class="hero-bottle" src="{{ fields.field_aroma_and_palate_image.content }}" alt="Aroma"> 
    <h3> {{ fields.field_aroma_and_palate_subtitle.content }} </h3>
{% endif %}

{% if (tasting_notes_aroma) %}
    <p> {{ tasting_notes_aroma }} </p>
{% endif %}

{% if (tasting_notes_taste) %}
    <p> {{ tasting_notes_taste }} </p>
{% endif %}

{% if (tasting_notes_complement) %}
    <picture>
        <source  media="(max-width: 321px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">   
        <source  media="(max-width: 691px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">
        <source  media="(max-width: 769px)" srcset="{{ fields.field_enjoy_with_image.content }}" class="">  
        <source  media="(max-width: 1281px)" srcset="{{ fields.field_enjoy_with_image.content }}" class=""> 
        <img src="{{ fields.field_enjoy_with_image.content }}" 
             alt="Enjoy">
    </picture>
    <h3> {{ fields.field_enjoy_with_subtitle.content }} </h3>
{% endif %}

{% if (tasting_notes_complement) %}
    <p> {{ tasting_notes_complement }} </p>
{% endif %}

<a href="{{ fields.field_nutritional_info_cta1.content }}" class="cta dark watch-video">{{ NUTRITIONAL INFO }}</a>
<a href="{{ fields.field_nutritional_info_cta2.content }}" class="cta dark watch-video">{{ BUY NOW }}</a>

