{% if (fields.field_hero_background_image.content) %}
    <div id="hero-component" class="container-fluid  hero-container common-hero">
        <div class="banner-image" style="background-image: url('{{ fields.field_hero_background_image.content }}')" alt="{{ fields.field_hero_background_image_1.content }} "></div>
        <div class="hero-bottom">

            <picture>
                {% if (fields.field_hero_left_triangle_image.content) %}
                    <source  class="triangle" media="(max-width: 321px)"  srcset="{{ fields.field_hero_left_triangle_image.content }}"> 
                {% else %}
                    <source  class="triangle" media="(max-width: 321px)"  srcset="/themes/sapient_brancott/css/images/triangle/left/_2x_landscape-triangle-320.png"> 
                {% endif %}

                {% if (fields.field_hero_left_triangle_image_s.content) %}
                    <source class="triangle" media="(max-width: 691px)"  srcset="{{ fields.field_hero_left_triangle_image_s.content }}"> 
                {% else %}
                    <source  class="triangle" media="(max-width: 321px)"  srcset="/themes/sapient_brancott/css/images/triangle/left/_2x_landscape-triangle-691.png"> 
                {% endif %}

                {% if (fields.field_hero_left_triangle_image_t.content) %}
                    <source class="triangle" media="(max-width: 991px)" srcset="{{ fields.field_hero_left_triangle_image_t.content }}"> 
                {% else %}
                    <source  class="triangle" media="(max-width: 321px)"  srcset="/themes/sapient_brancott/css/images/triangle/left/_2x_landscape-triangle-991.png"> 
                {% endif %}

                {% if (fields.field_hero_left_triangle_img_f.content) %}
                    <source class="triangle" media="(max-width: 1401px)" srcset="{{ fields.field_hero_left_triangle_img_f.content }}"> 
                {% else %}
                    <source  class="triangle" media="(max-width: 321px)"  srcset="/themes/sapient_brancott/css/images/triangle/left/_2x_landscape-triangle-1400.png"> 
                {% endif %}

                {% if (fields.field_hero_left_triangle_img_f.content) %}
                    <img src="{{ fields.field_hero_left_triangle_img_f.content }}" alt="triangle image" class="triangle">
                {% else %}
                    <img src="/themes/sapient_brancott/css/images/triangle/left/_2x_landscape-triangle-1400.png" alt="triangle image" class="triangle">
                {% endif %}
            </picture>

            <picture>
                {% if (fields.field_hero_right_triangle_image.content) %}
                    <source  class="triangle-right" media="(max-width: 321px)"  srcset="{{ fields.field_hero_right_triangle_image.content }}"> 
                {% else %}
                    <source  class="triangle-right" media="(max-width: 321px)"  srcset="/themes/sapient_brancott/css/images/triangle/right/_2x_grain-triangle-320.png"> 
                {% endif %}   

                {% if (fields.field_hero_right_triangle_image.content) %}
                    <source class="triangle-right" media="(max-width: 691px)"  srcset="{{ fields.field_hero_right_triangle_img_s.content }}"> 
                {% else %}
                    <source class="triangle-right" media="(max-width: 691px)"  srcset="/themes/sapient_brancott/css/images/triangle/right/_2x_grain-triangle-691.png"> 
                {% endif %}  

                {% if (fields.field_hero_right_triangle_image.content) %}
                    <source class="triangle-right" media="(max-width: 991px)" srcset="{{ fields.field_hero_right_triangle_img_t.content }}">
                {% else %}
                    <source class="triangle-right" media="(max-width: 991px)" srcset="/themes/sapient_brancott/css/images/triangle/right/_2x_grain-triangle-991.png">
                {% endif %}             

                {% if (fields.field_hero_right_triangle_image.content) %}
                    <source class="triangle-right" media="(max-width: 1401px)" srcset="{{ fields.field_hero_right_triangle_img_f.content }}"> 
                {% else %}
                    <source class="triangle-right" media="(max-width: 1401px)" srcset="/themes/sapient_brancott/css/images/triangle/right/_2x_grain-triangle-1400.png"> 
                {% endif %}              

                {% if (fields.field_hero_right_triangle_image.content) %}
                    <img class="triangle-right" src="{{ fields.field_hero_right_triangle_img_f.content }}" alt="{{ fields.field_hero_right_side_image_1.content }}"> 
                {% else %}
                    <img class="triangle-right" src="/themes/sapient_brancott/css/images/triangle/right/_2x_grain-triangle-1400.png" alt="triangle image"> 
                {% endif %}                 

            </picture>


        </div>
        {% if (fields.field_story_subheading.content or fields.field_hero_heading.content) %}
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 hero-inner-container">
                {% if (fields.field_story_subheading.content) %}
                    <span class="header_f">{{ fields.field_story_subheading.content }}</span>
                {% endif %}
                {% if (fields.field_hero_heading.content) %}
                    <h1 class="header_a">{{ fields.field_hero_heading.content }}</h1>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endif %}
{% if (fields.field_hero_bottom_headline.content or fields.field_hero_bottom_description.content or fields.field_video_youtube_link.content) %}
    <div id="hero-timeline-component">
        <div class="top-wrapper">
            {% if (fields.field_hero_bottom_headline.content) %}
                <h2 class="header_b">{{ fields.field_hero_bottom_headline.content }}</h2>
            {% endif %}
            {% if (fields.field_hero_bottom_description.content) %}
                <p class="common-margin">{{ fields.field_hero_bottom_description.content }}</p>
            {% endif %}
            {% if (fields.field_hero_body.content) %}
                {{ fields.field_hero_body.content }}
                <p class="common-margin"></p>
            {% endif %}
            {% if (fields.field_video_youtube_link.content) %}
                {% if (fields.field_suggested_videos.content) %}
                    {% set suggested_videos = fields.field_suggested_videos.content %}
                {% else %}
                    {% set suggested_videos = 0 %}
                {% endif %}
                {% if (fields.field_autoplay.content) %}
                    {% set autoplay = fields.field_autoplay.content %}
                {% else %}
                    {% set autoplay = 0 %}
                {% endif %}
                {% if (fields.field_video_title.content) %}
                    {% set show_title = fields.field_video_title.content %}
                {% else %}
                    {% set show_title = 0 %}
                {% endif %}
                {% if (fields.field_player_controls.content) %}
                    {% set controls = fields.field_player_controls.content %}
                {% else %}
                    {% set controls = 0 %}
                {% endif %}
                {% if (fields.field_looping.content) %}
                    {% set looping = fields.field_looping.content %}
                {% else %}
                    {% set looping = 0 %}
                {% endif %}
                {% if (fields.field_autohide.content) %}
                    {% set autohide = fields.field_autohide.content %}
                {% else %}
                    {% set autohide = 0 %}
                {% endif %}
                {% if (fields.field_iv_load.content) %}
                    {% set iv_load = fields.field_iv_load.content %}
                {% else %}
                    {% set iv_load = 3 %}
                {% endif %}

                <iframe class="youtube  common-margin" src="https://www.youtube.com/embed/{{ fields.field_video_youtube_link.content }}?rel={{ suggested_videos }}&autoplay={{ autoplay }}&showinfo={{ show_title }}&controls={{ controls }}&loop={{ looping }}&autohide={{ autohide }}&iv_load_policy={{ iv_load }}"></iframe>
                {% endif %} 
        </div>
    </div>
{% endif %} 