<div class="inner-tile col-md-6 col-sm-12 col-xs-12">
    <div class="big">
        <picture>
            <source class= "tile-background grow" media="(max-width: 321px)" srcset="{{ fields.field_background_image_2.content }}">   
            <source class= "tile-background grow" media="(max-width: 691px)" srcset="{{ fields.field_background_image_2.content }}">
            <source class= "tile-background grow" media="(max-width: 769px)" srcset="{{ fields.field_background_image.content }}">  
            <source class= "tile-background grow" media="(max-width: 1281px)" srcset="{{ fields.field_background_image.content }}"> 
            <source class= "tile-background grow" srcset="{{ fields.field_background_image.content }}">
            <!-- img tag for browsers that do not support picture element -->
            <img  class= "tile-background grow" src="{{ fields.field_background_image.content }}" alt="{{ fields.field_background_image_1.content }}">  
        </picture> 
        <div class="wrapper">
            <h3 class="header_a">{{fields.title.content |upper |raw }}</h3>
            <a href="{{fields.path.content }}" class="cta secondary-light">{{'FIND OUT MORE' |t }}</a>
        </div>
    </div>
</div>