 <div id="hero-component" class="container-fluid  hero-container" >
   <div class="grain-noise"></div>
	<picture>
				<source  media="(max-width: 321px)" srcset="{{ fields.field_wine_background_image_1.content }}" class="background-image">   
				<source  media="(max-width: 691px)" srcset="{{ fields.field_wine_background_image_1.content }}" class="background-image">
				<source  media="(max-width: 769px)" srcset="{{ fields.field_wine_background_image.content }}" class="background-image">  
				<source  media="(max-width: 1281px)" srcset="{{ fields.field_wine_background_image.content }}" class="background-image"> 
				<img src="{{ fields.field_wine_background_image.content }}" alt="Wine Background">
			</picture>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hero-inner-container">
	  <span class="header_f">{{ wine_range }}</span>
	  <h1>{{ wine_title }}</h1>
	  <p>{{ wine_description }}</p>
	  <a href="www.google.com" class="cta dark find-out-more">BOOK NOW
 		</a>
	</div>

   <div class="hidden-sm hidden-xs hero-bottle-wrapper">
	<picture>
		<source class="hero-bottle" media="(max-width: 1281px)" srcset="{{ fields.field_wine_bottle_image.content }}"> 
		<source class="hero-bottle" media="(max-width: 769px)"  srcset="{{ fields.field_wine_bottle_image.content }}"> 
		<source  class="hero-bottle" srcset="{{ fields.field_wine_bottle_image.content }}"> 
		<img class="hero-bottle" src="{{ fields.field_wine_bottle_image.content }}" alt="Bottle"> 
		</picture>
   </div>
   	<div class="hero-bottom">
        <img src="/{{ directory }}/css/images/triange-1.png" alt="" class="triangle">
        <img src="/{{ directory }}/css/images/noise-triangle.svg" alt="" class="triangle-right">
    </div>
</div>