{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title }}
<div id="carousel-new-story" class="carousel slide container-fluid" data-ride="carousel"  data-interval="false">
    <ol class="carousel-indicators">

        {% for i in 0..view.total_rows %}
		   {% if loop.first %}
		      <li data-target="#carousel-new-story" data-slide-to="{{ i }}" class="active"></li>
		   {% elseif not loop.last %}
		      <li data-target="#carousel-new-story" data-slide-to="{{ i }}"></li>
		   {% endif %}
		{% endfor %}
    </ol> 
 <div class="carousel-inner " role="listbox">
  {{ rows }}
  </div>
  <!-- Controls -->
	<div class="carousel-control-wrapper">
		<a class="left carousel-control" href="#carousel-new-story" role="button" data-slide="prev">
		<span class="prev-carousal" aria-hidden="true"><span class="glyphicon glyphicon-left"></span></span>
		<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-new-story" role="button" data-slide="next">
		<span class="next-carousal" aria-hidden="true"><span class="glyphicon glyphicon-right" style=""></span></span>
		
		<span class="sr-only">Next</span>
		</a>
	</div>
</div>  
  {{ empty }}
</div>