<nav class="menu hidden-xs hidden-sm wine-filters-desktop" role="navigation" aria-label="Main menu">
		<ul class="nav level-1 list-reset" role="menubar" aria-hidden="false">
			<li role="menuitem" aria-haspopup="true"><a href="#" data-category-filter="all-data" class="filter-item">ALL WINES</a></li>
			{% for key, filter in filters %}  		
			{% if key == 'range' %}
				{% set newkey = 'Ranges' %}
			{% elseif key == 'wine_type' %}
				{% set newkey = 'Wine Types' %}
			{% elseif key == 'varietals' %}
				{% set newkey = 'Varietals' %}
			{% elseif key == 'food_matches' %}
				{% set newkey = 'Food Matches' %}
			{% else %}
				{% set newkey = key %}
			{% endif %}
			{% if key != 'food_matches' %}
			<li role="menuitem" aria-haspopup="true">
				<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true">{{ newkey |upper }} <span class="expand-icon" data-toggle="dropdown"></span></a>
				<ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
					<div>
						{% for subfilter_key, subfilter in filter %}
						<li role="menuitem"><a href="#" data-category="{{ key }}" data-category-filter="{{ subfilter_key }}" class="filter-item"> {{ subfilter_key |upper }}</a></li>
						{% endfor %}
					</div>
				</ul>
			</li>
			{% else %}
			<li role="menuitem" aria-haspopup="true">
				<a href="#" class="dropdown-toggle" role="button" aria-haspopup="true">{{ newkey |upper}} <span class="expand-icon" data-toggle="dropdown"></span></a>
				<ul class="level-2 list-reset" data-test="true" aria-hidden="true" role="menu">
					<div>
						{% for subfilter_key, subfilter in filter %}
						<li role="menuitem">
							<p>{{ subfilter_key }}</p>
							{% for foodmatchkey, foodmatchvalue in subfilter %}
							<a href="#" data-category="food_matches" data-category-filter="{{ foodmatchvalue }}" class="filter-item sub-nav-item">{{ foodmatchvalue |upper }}</a>
							{% endfor %}
						</li>
						{% endfor %}
					</div>
				</ul>
			</li>
			  {% endif %}
			{% endfor %}
		</ul>
</nav>



<section id="mobile-filters-wrapper" class="hidden-md hidden-lg">
	<button id="open-filters">FILTERS</button>
	<div id="mobile-filters">
		<button id="close-filters">close filters</button>
	  <h2>FILTERS</h2>
		<div id="mobile-filters-scroll-wrapper">
			<ul class="categories nav">
				  {% for key, filter in filters %}
					{% if key == 'range' %}
						{% set newkey = 'Ranges' %}
					{% elseif key == 'wine_type' %}
						{% set newkey = 'Wine Types' %}
					{% elseif key == 'varietals' %}
						{% set newkey = 'Varietals' %}
					{% elseif key == 'food_mathces' %}
						{% set newkey = 'Food Matches' %}
					{% else %}
						{% set newkey = key %}
					{% endif %}
				{% if key != 'food_matches' %}
				<li><a href="#" class="category">{{ newkey |upper}} <img src="/themes/sapient_brancott/css/images/icons/BE_icon_arrow_mob_right.svg"></a>
					<ul class="sub-categories">
						<li><a href="#" class="sub-nav-return"><img src="/themes/sapient_brancott/css/images/icons/BE_icon_arrow_mob_left.svg"> {{ newkey |upper }}</a></li>
						{% for subfilter_key, subfilter in filter %}
						<li><a href="#" data-category="{{ key }}" data-category-filter="{{ subfilter_key }}" class="filter-item">{{ subfilter_key |upper }}</a></li>
						{% endfor %}	
					</ul>
				</li>
				{% else %}
				<li><a href="#" class="category">{{ newkey |upper }} <img src="/themes/sapient_brancott/css/images/icons/BE_icon_arrow_mob_right.svg"></a>
					<ul class="sub-categories">
						<li><a href="#" class="sub-nav-return"><img src="/themes/sapient_brancott/css/images/icons/BE_icon_arrow_mob_left.svg"> {{ newkey }}</a></li>
						{% for subfilter_key, subfilter in filter %}
						<li>
							<p>{{ subfilter_key }}</p>
							{% for foodmatchkey, foodmatchvalue in subfilter %}
							<a href="#" data-category="food_matches" data-category-filter="{{ foodmatchvalue }}" class="filter-item sub-nav-item">{{ foodmatchvalue |upper }}</a>
							{% endfor %}
						</li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}
				 {% endfor %}
				 <li><a href="#" data-category-filter="all-data" class="filter-item">ALL WINES</a></li>
			</ul>
		</div>
	</div>
</section>



<section id="product-grid">
	<div id="response-wrapper">
		{% for key,arg in arguments %}
			<div class="category-wrapper">
				<div class="category-header">
					<p class="title-tag">{{ arg.title |upper }}</p>
					<h2>{{ arg.strapline |upper }}</h2>
					<p>{{ arg.description }}</p>
				</div>
				<div class="category-grid">
					{% for tile in arg.associated_wines %}
						<a href="node/{{ tile.nid }}" class="product-tile">
							<div class="product-shot">
								{% if tile.url %}
									<img src="{{ tile.url }}" class="primary" /><img src="{{ tile.url }}" class="secondary" />
								{% else %}
									<img src="http://brancottvanillaxjhdrqa7rm.devcloud.acquia-sites.com/sites/default/files/2017-03/bottle-not-final-showcase-series.png" class="primary" /><img src="http://brancottvanillaxjhdrqa7rm.devcloud.acquia-sites.com/sites/default/files/2017-03/bottle-not-final-showcase-series.png" class="secondary" />
								{% endif %}
								<div class="product-bg" style="background-color: {{ tile.bkg_colr }};"></div>
							</div>
							<h3>{{ tile.range |upper }}</h3>
							<p>{{ tile.title }}</p>
						</a>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</section>